@media (min-width: 600px) {
  main {
    width: 500px;
    margin: auto;
  }
  .see-and-do,
  .events,
  .see-do-scroll-to-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  h2 {
    grid-column: -1/1;
  }

  .see-and-do p,
  .see-and-do a,
  .events a {
    grid-column: span 3;
  }

  .image-group-1 {
    width: 150px;
    height: 150px;
  }

  .image-group-2,
  iframe {
    width: 500px;
  }

  .visit img {
    width: 250px;
  }

  .entrance img,
  .accessibility img,
  .food img,
  .shop img,
  .event-list img {
    width: 200px;
    height: 200px;
  }

  .visit-scroll-to-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .visit-scroll-to-section a,
  .see-do-scroll-to-section a {
    font-size: 14px;
  }

  .visit,
  .entrance,
  .accessibility,
  .food,
  .shop,
  .event-list {
    grid-template-columns: 1fr 1fr;
  }

  .end {
    justify-self: end;
  }

  .flex-images {
    display: flex;
    justify-content: center;
  }

  .flex-images img {
    padding-left: 15px;
  }

  .event-list div:nth-of-type(1n + 3) {
    margin-top: 30px;
  }
}

@media (min-width: 900px) {
  nav ul {
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav label {
    display: none;
  }

  nav {
    padding: 0px;
  }

  .logo {
    font-size: 32px;
  }

  header a {
    font-size: 24px;
  }

  main {
    width: 750px;
    margin: auto;
  }

  .call-to-action {
    font-size: 16px;
  }

  h1 {
    margin-top: 30px;
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  p,
  .contact,
  .visit-scroll-to-section a,
  .see-do-scroll-to-section a {
    font-size: 18px;
  }

  .image-group-1,
  .entrance img,
  .accessibility img,
  .food img,
  .shop img,
  .event-list img {
    width: 250px;
    height: 250px;
  }

  .image-group-2,
  iframe {
    width: 750px;
  }

  .visit img {
    width: 500px;
    height: 250px;
  }

  .call-to-action,
  .send {
    max-width: 400px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer div {
    margin: 0px 15px;
  }

  @media (min-width: 1300px) {
    main {
      width: 1050px;
      margin: auto;
    }

    .success-message {
        justify-content: center;
    }

    .image-group-1,
    .entrance img,
    .accessibility img,
    .food img,
    .shop img,
    .event-list img {
      width: 300px;
      height: 300px;
    }

    .image-group-2,
    iframe {
      width: 1050px;
      height: 350px;
    }

    .visit-scroll-to-section a,
    .see-do-scroll-to-section a {
      font-size: 24px;
    }

    .see-and-do img:nth-of-type(2),
    .events div:nth-of-type(2),
    .see-do-scroll-to-section div:nth-of-type(2) {
      justify-self: center;
    }

    .see-and-do img:nth-of-type(3),
    .events div:nth-of-type(3),
    .see-do-scroll-to-section div:nth-of-type(3) {
      justify-self: end;
    }
  }
}

