/*Body*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  background-color: #D6D2C4;
  font-family: open sans, arial, sans-serif;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
p {
  font-size: 14px;
}

/*Body*/

/*Header*/

.logo {
  font-size: 18px;
  font-weight: bold;
  color: #1B365D;
  padding: 5px 15px;
  display: flex;
}

header a {
  color:  #D6D2C4;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover,
.current {
  text-decoration: underline 2px;
}

nav {
  padding: 15px;
}

nav li {
  list-style-type: none;
}

nav ul {
  display: none;
  background-color: #1B365D;
  width: 200px;
  height: 400px;
  padding: 15px;
  position: absolute;
}

.fa-bars {
  color: #1B365D;
}

nav label {
  color: #1B365D;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked  ~ ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Header*/

/*Global styles*/

.image-group-1, .image-group-2 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 250px;
  margin: auto;
}

.see-and-do, 
.visit, 
.events, 
.exhibitions, 
.activities, 
.school, 
.entrance, 
.accessibility, 
.food, 
.shop,
.event-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 30px;
}

/*Global styles*/

/*Home*/

.call-to-action {
  text-decoration: none;
  background-color: #1B365D;
  color:  #D6D2C4;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 0px;
  border-radius: 50px;
  max-width: 400px;
}

.call-to-action:hover {
  text-decoration: underline 2px;
}

.visit p:nth-of-type(1) {
  font-weight: bold;
}

/*Home*/

/*Visit*/

.welcome img {
  margin-top: 30px;
}

.welcome p:nth-of-type(2) {
  font-weight: bold;
  margin-top: 5px;
}

.visit-scroll-to-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
} 

.visit-scroll-to-section a {
  text-decoration: none;
  color:  #1B365D;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}

.visit-scroll-to-section a:hover {
  text-decoration: underline 2px #1B365D;
}

/*Visit*/

/*See and Do*/

.see-do-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.see-do-scroll-to-section a {
  display: block;
  text-decoration: none;
  color: #1B365D;
  font-size: 18px;
  font-weight: bold;
}

.see-do-scroll-to-section a:hover {
  text-decoration: underline 2px #1B365D;
}

.see-do-scroll-to-section {
  display: grid;
  gap: 25px;
}

.bold {
  font-weight: bold;
  margin-top: 15px;
}

.contact {
  text-decoration: none;
  color: #1B365D;
  font-weight: bold;
}

.contact:hover {
  text-decoration: underline 2px #1B365D ;
}

/*See and Do*/

/*Events*/

.event-list div:nth-of-type(2n+3) {
  margin-top: 30px;
}

/*Events*/

/*Contact*/

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

input {
  padding: 10px;
}

textarea {
  height: 100px;
}

.send {
  background-color: #1B365D;
  color: #D6D2C4;
  border-radius: 50px;
  margin-top: 15px;
  font-weight: bold;
  max-width: 250px;
}

.send:hover {
  text-decoration: underline 2px;
}

/*Contact*/

/*About*/

.about img,
.support,
.volunteer,
.internships,
.researchers {
  margin-top: 30px;
  margin-bottom: 15px;
}

/*About*/

/*Footer*/

footer {
  margin-top: 25px;
  background-color: #1B365D;
  color:  #D6D2C4;
  display: grid;
  gap: 15px;
  padding: 15px 0px;
  justify-content: center;
}

footer p:nth-of-type(1) {
  font-weight: bold;
}

/*Footer*/


/*Media queries*/

@media (min-width: 600px) {
  main {
    width: 500px;
    margin: auto;
  }
  .see-and-do, 
  .events, 
  .see-do-scroll-to-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  h2 {
    grid-column: -1/1;
  }

  .see-and-do p,
  .see-and-do a, 
  .events a {
    grid-column: span 3;
  }

  .image-group-1 {
    width: 150px;
    height: 150px;
  }

  .image-group-2 {
    width: 500px;
  }
  
  .visit img {
    width: 250px
  }

  .entrance img,
  .accessibility img,
  .food img,
  .shop img,
  .event-list img {
    width: 200px;
    height: 200px;
  }

  .visit-scroll-to-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .call-to-action {
    max-width: 250px;
  }

  .visit-scroll-to-section a,
  .see-do-scroll-to-section a {
    font-size: 14px;
  }

  .visit, 
  .entrance, 
  .accessibility, 
  .food, 
  .shop,
  .event-list {
    grid-template-columns: 1fr 1fr;
  }

  .end {
    justify-self: end;
  }


  .flex-images {
    display: flex;
    justify-content: center;
  }

  .flex-images img {
    padding-left: 15px;
  }

  .event-list div:nth-of-type(1n+3) {
  margin-top: 30px;
}

}

@media (min-width: 900px) {
  nav ul {
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav label {
    display: none;
  }

  nav {
    padding: 0px;
  }

  .logo {
    font-size: 32px;
  }

  header a {
    font-size: 24px;
  }

  main {
    width: 750px;
    margin: auto;
  }

  .call-to-action {
    font-size: 16px;
  }

  h1 {
    margin-top: 30px;
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  p,
  .contact,
  .visit-scroll-to-section a,
  .see-do-scroll-to-section a {
    font-size: 18px;
  }

  .image-group-1,
  .entrance img,
  .accessibility img,
  .food img,
  .shop img,
  .event-list img {
    width: 250px;
    height: 250px;
  }

  .image-group-2 {
    width: 750px;
  }

  .visit img {
    width: 500px;
    height: 250px;
  }

  .call-to-action {
    max-width: 400px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer div {
    margin: 0px 15px;
  }


@media (min-width: 1300px) {
  main {
    width: 1050px;
    margin: auto;
  }

  .image-group-1 {
    width: 300px;
    height: 300px;
  }

  .image-group-2 {
    width: 1050px;
    height: 350px;
  }

  .visit-scroll-to-section a,
  .see-do-scroll-to-section a {
    font-size: 24px;
  }

.see-and-do img:nth-of-type(2),
.events div:nth-of-type(2),
.see-do-scroll-to-section div:nth-of-type(2) {
  justify-self: center;
}

.see-and-do img:nth-of-type(3),
.events div:nth-of-type(3),
.see-do-scroll-to-section div:nth-of-type(3) {
  justify-self: end;
}
}

}